MKRenv1.json
[{"id":"234d36f2.845b3a","type":"tab","label":"MKRENV 1","disabled":false,"info":""},{"id":"82061185.878d3","type":"mqtt in","z":"234d36f2.845b3a","name":"","topic":"homie/device001/meteo001/+","qos":"1","datatype":"utf8","broker":"934e2221.c8bda8","x":140,"y":520,"wires":[["93740048.207308"]]},{"id":"93740048.207308","type":"function","z":"234d36f2.845b3a","name":"Filter to DB","func":"var tokens = msg.topic.split(\"/\");\n\nif(tokens[2].indexOf(\"$\")==-1 && tokens[3].indexOf(\"$\")==-1){ \n    msg.measurement=tokens[0]\n    msg.payload = {\"device\":tokens[1],\"node\":tokens[2],\"property\":tokens[3],\"value\":msg.payload};\n\n}else {\n    msg = \"\";\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":470,"y":520,"wires":[["7f18ed01.66b904","bf7a1553.30dd18"]]},{"id":"7f18ed01.66b904","type":"debug","z":"234d36f2.845b3a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":790,"y":400,"wires":[]},{"id":"bf7a1553.30dd18","type":"influxdb out","z":"234d36f2.845b3a","influxdb":"f7526a42.35679","name":"Insert DB","measurement":"","precision":"","retentionPolicy":"","x":820,"y":520,"wires":[]},{"id":"c331ca35.1503a","type":"inject","z":"234d36f2.845b3a","name":"RESET DB","topic":"","payload":"DROP MEASUREMENT homie","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":640,"wires":[["382f94b0.204a1c"]]},{"id":"de42f5ec.0522a8","type":"influxdb in","z":"234d36f2.845b3a","influxdb":"f7526a42.35679","name":"","query":"","rawOutput":false,"precision":"","retentionPolicy":"","x":820,"y":640,"wires":[[]]},{"id":"382f94b0.204a1c","type":"function","z":"234d36f2.845b3a","name":"Query","func":"msg.query=msg.payload;\nmsg.payload=\"\";\nreturn msg;","outputs":1,"noerr":0,"x":430,"y":640,"wires":[["de42f5ec.0522a8"]]},{"id":"934e2221.c8bda8","type":"mqtt-broker","z":"","name":"localhost Mosquitto","broker":"127.0.0.1","port":"1883","tls":"334ec591.70867a","clientid":"","usetls":true,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"f7526a42.35679","type":"influxdb","z":"","hostname":"127.0.0.1","port":"8086","protocol":"http","database":"GRAFANA","name":"","usetls":false,"tls":""},{"id":"334ec591.70867a","type":"tls-config","z":"","name":"local-tls","cert":"","key":"","ca":"","certname":"","keyname":"","caname":"ca.crt","servername":"","verifyservercert":false}]