Relays.json
[{"id":"1e1836f4.1281b9","type":"tab","label":"Relays 1","disabled":false,"info":""},{"id":"79b72246.94abdc","type":"mqtt out","z":"1e1836f4.1281b9","name":"","topic":"homie/device002/shield001/relay001/set","qos":"","retain":"","broker":"934e2221.c8bda8","x":440,"y":160,"wires":[]},{"id":"e1817f14.34ce2","type":"mqtt out","z":"1e1836f4.1281b9","name":"","topic":"homie/device002/shield001/relay002/set","qos":"","retain":"","broker":"934e2221.c8bda8","x":440,"y":300,"wires":[]},{"id":"82e6db8e.91dbe8","type":"mqtt in","z":"1e1836f4.1281b9","name":"","topic":"homie/device002/shield001/relay001/","qos":"0","datatype":"utf8","broker":"934e2221.c8bda8","x":210,"y":220,"wires":[["5b1ac15e.faa328","253a5b95.476c3c"]]},{"id":"1a4a6f07.7e62c1","type":"ui_switch","z":"1e1836f4.1281b9","name":"","label":"","tooltip":"","group":"8ed79fd9.2a1f58","order":2,"width":"0","height":"0","passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":110,"y":300,"wires":[["e1817f14.34ce2"]]},{"id":"5b1ac15e.faa328","type":"ui_led","z":"1e1836f4.1281b9","group":"281efc10.d99514","order":1,"width":"1","height":"1","label":"","labelPlacement":"right","labelAlignment":"center","colorForValue":[{"color":"red","value":"false","valueType":"str"},{"color":"green","value":"true","valueType":"str"}],"allowColorForValueInMessage":false,"name":"Relay001","x":490,"y":220,"wires":[]},{"id":"c115e385.3ed798","type":"mqtt in","z":"1e1836f4.1281b9","name":"","topic":"homie/device002/shield001/relay002/","qos":"0","datatype":"auto","broker":"934e2221.c8bda8","x":200,"y":360,"wires":[["bacf85ea.fcb78","9b34dab6.f7b688"]]},{"id":"bacf85ea.fcb78","type":"ui_led","z":"1e1836f4.1281b9","group":"8ed79fd9.2a1f58","order":1,"width":"1","height":"1","label":"","labelPlacement":"left","labelAlignment":"center","colorForValue":[{"color":"red","value":"false","valueType":"str"},{"color":"green","value":"true","valueType":"str"}],"allowColorForValueInMessage":false,"name":"Relay002","x":470,"y":360,"wires":[]},{"id":"bbad9f09.1e2cb8","type":"mqtt in","z":"1e1836f4.1281b9","name":"","topic":"homie/device002/$state","qos":"0","datatype":"auto","broker":"934e2221.c8bda8","x":160,"y":60,"wires":[["df1d80af.e501e"]]},{"id":"fbcfbba.9f2b148","type":"ui_text","z":"1e1836f4.1281b9","group":"8de30f23.a4e84","order":1,"width":"5","height":"1","name":"","label":"","format":"{{msg.payload}}","layout":"row-spread","x":610,"y":60,"wires":[]},{"id":"d8bd3a45.f373f","type":"ui_switch","z":"1e1836f4.1281b9","name":"","label":"","tooltip":"","group":"281efc10.d99514","order":2,"width":"0","height":"0","passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":110,"y":160,"wires":[["79b72246.94abdc"]]},{"id":"df1d80af.e501e","type":"function","z":"1e1836f4.1281b9","name":"","func":"\nif (msg.payload!=\"ready\"){\n    msg.payload=msg.payload+\" - Displaying last known\"\n}\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":60,"wires":[["fbcfbba.9f2b148"]]},{"id":"253a5b95.476c3c","type":"debug","z":"1e1836f4.1281b9","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":500,"y":260,"wires":[]},{"id":"9b34dab6.f7b688","type":"debug","z":"1e1836f4.1281b9","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":470,"y":420,"wires":[]},{"id":"934e2221.c8bda8","type":"mqtt-broker","z":"","name":"localhost Mosquitto","broker":"127.0.0.1","port":"1883","tls":"334ec591.70867a","clientid":"","usetls":true,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"8ed79fd9.2a1f58","type":"ui_group","z":"","name":"RELAY 2","tab":"33959ea2.0e489a","order":3,"disp":true,"width":"5","collapse":false},{"id":"281efc10.d99514","type":"ui_group","z":"","name":"RELAY 1","tab":"33959ea2.0e489a","order":2,"disp":true,"width":"5","collapse":false},{"id":"8de30f23.a4e84","type":"ui_group","z":"","name":"STATUS","tab":"33959ea2.0e489a","order":1,"disp":true,"width":"5","collapse":false},{"id":"334ec591.70867a","type":"tls-config","z":"","name":"local-tls","cert":"","key":"","ca":"","certname":"","keyname":"","caname":"ca.crt","servername":"","verifyservercert":false},{"id":"33959ea2.0e489a","type":"ui_tab","z":"","name":"Relays dashboard","icon":"dashboard","disabled":false,"hidden":false}]